<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @fornecedor.telefone %>
</p>

<p>
  <strong>Cnpj cpf:</strong>
  <%= @fornecedor.cnpj_cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fornecedor.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @fornecedor.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @fornecedor.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @fornecedor.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @fornecedor.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @fornecedor.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @fornecedor.estado %>
</p>

<%= link_to 'Edit', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Back', fornecedors_path %>
